*{font-family: "微软雅黑","arial","宋体","仿宋","Calibri"; margin:0px; padding:0px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0;padding:0;}
html{height:100%; width: 100%; overflow-x:hidden;}
body{height:100%; width: 100%;}

/* 浏览器滚动条 */
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: rgba(0,0,0,0);}
::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.5);}

li{list-style-type: none;}
a{color: #FFF; text-decoration: none;}
a:hover{text-decoration: underline; color: #fff;}

.box{width: 100%;}

/*maincontent*/
.box .section{width: 100%;height: auto; position: relative;}

/*top_nav*/
#top_nav{padding: 10px 0;}
#top_nav img{height: 70px; position: relative; top: -25px;}

/* 点评理论 */
.box .section .lilun{width: 100%;background-color: #DBDBDBFF;}
.box .section .lilun a{color: #000;}
.box .section .lilun .title{margin-top: 150px;text-align: center;}
.box .section .lilun .title p{margin-top: 10px}
.box .section .lilun .case{margin-top: 60px;}
.box .section .lilun .case .case_box{background-color:white;box-shadow: 5px -5px 10px 0px #888888;padding: 20px 10px 20px 10px;margin-bottom: 50px;}
.box .section .lilun .case .case_box .case_box_text{border: 1px solid #737373;padding: 50px 15px 30px 15px;}
.box .section .lilun .case .case_box .case_box_text p{margin-bottom: 15px;font-size: 13px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;}

/*footer*/
.footer .footer_text{background-color: #1a3048;font-size: 12px;color: white;height: 30px;text-align: center;line-height: 30px;}