/* iPads (portrait and landscape) ----------- */
@media (max-width:1410px) {
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        font-size: 26px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        font-size: 26px;
    }
}
@media (max-width:1300px) {
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        font-size: 24px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        font-size: 24px;
    }
}
@media (max-width:1215px) {
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        font-size: 22px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        font-size: 22px;
    }
}
@media (max-width:1215px) {
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        font-size: 20px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        font-size: 20px;
    }
}
@media (max-width:1200px) {
    .box .section .part6 .newslist .itembody .new{
        float: left;
        width: 64%;
        margin-left: 5px;
    }
}
@media (max-width:1000px) {
    .box .section .part2 .page2 .p2title{
        background-size: 100% 100%;
        background-position: ;
    }
}
@media (max-width:991px) {
    .box .section .part4 .threebox {
        margin-top: -280px;
    }
    .box .section .part4 .img4_bg div {
        padding-top: 45px;
    }
    .box .section .part2 .page2 .p2title h1{
        font-size: 32px;
    }
    .box .section .part6 .newslist .itembody .new{
        width: 400px;
        float: right;
        width: 70%;
    }
    .box .section .part6 .newslist{
        margin-top: 20px;
    }
    .box .r_newspush{
        margin-top: 15px;
    }
}
@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 420px;
        text-align: center;
    }
    .gray-bg .vline {
        left: 11%;
    }
    .navbar-right {
        float: none !important;
        margin-right: -15px;
    }
    .navbar-nav {
        float: center !important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 15px 10px 25px;
    }
    .price.panel-default {
        margin: 40px;
    }
    .price.featured.panel-default {
        margin: 40px;
    }
    .content-heading {
        margin-top: 80px;
    }
    .ipad-wrapper .app-wrap {
        left: 22%;
    }
}
@media (max-width:768px) {
    .box .section .part4 .threebox {
        margin-top: -280px;
    }
    .box .section .part4 .img4_bg div {
        padding-top: 45px;
    }
    .box .section .part2 .page2 .p2title h1{
        font-size: 22px;
        line-height: 75px;
    }
    .box .section .part2 .page2 .p2title{
        height: 75px;
    }
    .footer .theory{
        height: 200px;
    }
}
@media (max-width:603px) {
    .box .section .part4 .threebox {
        margin-top: -220px;
    }
    .box .section .part4 .img4_bg div {
        padding-top: 35px;
    }
}
@media (max-width:580px) {
    .box .section .part6 .newslist .itembody .new{
        float: left;
        margin-left: 5px;
        width: 65%;
    }
}
@media (max-width:500px) {
    .box .section .part2 .page2 .p2title h1{
        font-size: 18px;
        line-height: 55px;
    }
    .box .section .part2 .page2 .p2title{
        height: 55px;
    }
    .box .section .part6 .newslist .itembody .new{
        float: none;
        width: 100%;
    }
    .box .section .part6 .newslist .itembody .aimg{
        float: none;
    }
    .box .section .part6 .newslist .itembody{
        height: auto;
    }
    .footer .theory{
        height: 220px;
    }
}
@media (max-width:460px) {
    h1 {
        font-size: 34px;
    }
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        float: none;
        font-size: 20px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        float: none;
        font-size: 20px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body{
        padding-left: 95px;
    }
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body{
        padding-right: 95px;
    }
    /*     .box .section .part2 .page2 #p2content #p2leftcontent .media .media-num{
        display: none;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-num{
        display: none;
    } */
    .box .section .part2 .page2 .p2title h1{
        font-size: 16px;
        line-height: 45px;
    }
    .box .section .part2 .page2 .p2title{
        height: 45px;
    }
}
@media (max-width:430px) {
    .footer .theory{
        height: 260px;
    }
}
@media (max-width:376px) {
    p {
        font-size: 12px
    }
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 16px;
    }
    .box .section .part3 .page3 .eight_point .kuang{
    	height: 180px;
    }
    .box .section .part3 .page3 .eight_point .kuang .kuang_num{
    	margin-top: 45px;
    }
    .box .section .part4 .img4_bg div p {
        line-height: 20px;
    }
    .box .section .part4 .threebox {
        margin-top: -210px;
    }
    .box .section .part4 .img4_bg div {
        padding-top: 25px;
    }
    .footer p {
        line-height: 14px;
    }
    .box .section .part4 .threebox>div>div>div{
        height: auto;
    }
    .box .section .part2 .page2 .p2title h1{
        line-height: 24px;
    }
    .box .section .part2 .page2 .p2title{
        height: 48px;
        font-size: 12px;
    }
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        font-size: 16px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        font-size: 16px;
    }
    .footer .theory{
        height: 200px;
    }
}
@media (max-width:320px) {
    .box .section .part3 .page3 .eight_point .kuang .kuang_text p{
        font-size: 14px;
    }
    .box .section .part3 .page3 .eight_point .kuang{
    	height: 180px;
    }
    .box .section .part3 .page3 .eight_point .kuang .kuang_num{
    	margin-top: 45px;
    }
    .box .section .part2 .page2 .p2title h1{
        font-size: 10px;
        line-height: 26px;
    }
    .box .section .part2 .page2 #p2content #p2leftcontent .media .media-body>h2{
        font-size: 14px;
    }
    .box .section .part2 .page2 #p2content #p2rightcontent .media .media-body>h2{
        font-size: 14px;
    }
    .footer .theory{
        height: 220px;
    }
}
@media (max-width:260px) {
    .box .section .part3 .page3 .eight_point .kuang .kuang_text p{
        font-size: 12px;
    }
    .box .section .part3 .page3 .eight_point .kuang .kuang_text p{
        font-size: 12px;
    }
    #n12>.media-body{
        top: 0px;
    }
}